html {
  height: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #f1eaea;
  height: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: flex-start;
}

#controls {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: flex-start;
  margin-bottom: 30px;
}

#controls h1 {
  width: 100%;
  text-align: center;
  font-size: 3rem;
}


#controls button {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  border: none;
  margin: 10px;
  padding: 10px;
  letter-spacing: 1px;
  background-color: dodgerblue;
  color: white;
  cursor: pointer;
}

.outer-wrapper {
  width: 100%;
  overflow-y: auto;
}

table, th, td {
  border: 1px solid #000000;
  border-collapse: collapse;
  letter-spacing: 1px;
}

table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  white-space: nowrap;
}

#source {
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin: 10px 0;
  line-height: 1.5;
}

table tr:nth-child(even) {
  background-color: #f1f1f1;
}

table tr:nth-child(odd) {
  background-color: white;
}

table :not(thead) tr{
  background-color: yellow;
}

table thead th {
  background-color: dodgerblue;
  color: white;
}

table tr:not(.headers):hover {
  background-color: #e6e682;
}

table th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

th, td {
  padding: 10px;
  text-align: left;
}

tr td:first-child {
  text-align: center;
}

th:last-child {
  text-align: center;
}

table a {
  color: #000000;
  text-decoration: none;
}

table a:hover {
  color: blue;
}

#source a:first-child {
  color: crimson;
}

#source a:last-child {
  color: blue;
}

table button {
  font-family: 'Rubik', sans-serif;
  border: none;
  margin: 5px;
  padding: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 5px;
}

table button {
  background-color: mediumseagreen;
  color: white;
}